.form{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-top: 1px solid black;
    border-left: 1px solid black;
    margin-bottom: 1em;
}
.input,
.textarea,
.select,
.button,
.fileInput{
    font-size: 0.8rme;
    width: 100%;
    border: 0;
    padding: 0.5em;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background: white;
}
.input,
.select{
    flex: 1 1 30%;

}
.input:focus,
.textarea:focus,
.select:focus,
.button:focus{
    outline: 0;
}
.textarea{
    flex-basis: 100%;
}
.del_button{
    background-color: forestgreen;
    color: #ddd;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5em;
    flex: 1 1 50%;
    font-size: 0.8rem;
}
.del_button:hover{
    opacity: 0.8;
}