button{
  outline: none;
  border: 0;
  cursor: pointer;
}
.habit{
  font-size: 2.5rem;  
  padding: 0.5em;
  list-style: none;
}
.habit-button{
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}
.habit-button:hover{
  opacity: 0.8;
}
.add-input{
  padding: 5px 15px;
  color: #3f51b5;
    border: 1px solid rgba(63, 81, 181, 0.5);
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    margin: 0.5em;
}
